.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    position: relative;
}
.app__main {
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 300px;
    background-image: url(https://images6.alphacoders.com/372/372546.jpg);
    background-size: cover;
}
.app__form {
    display: flex;
    flex: 6 1 auto;
    flex-direction: column;
}
.app__searchInput {
    width: 100%;
    max-width: 300px;
    height: 2.5rem;
    color: #fff;
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
}
.app__searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.5s ease-in;
}

.app__searchInput:focus::placeholder {
    color: #fff;
}
.app__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
}
.app__text {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
}
.app__footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 20px 20px;
}
.app__currentDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1;
}
.app__nextDays {
    display: flex;
    justify-content: space-around;
    flex: 3 1;
}
.app__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    min-height: 70px;
    width: 100%;
    border-left: 1px solid #000;
}
@media (max-width: 470px) {
    .app__main {
        flex-direction: column;
    }
    .app__form {
        flex: 1 1;
    }
    .app__searchInput {
        max-width: 100%;        
        text-align: center;
    }
    .app__currentDay {
        align-items: center;
    }
    .app__nextDays {
        display: none;
    }
}
.break-column {
    flex-basis: 100%;
    width: 0;
  }

.app__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 20px;
    display: none; 
    align-items: center;
    justify-content: center;
}
.app__form-error {
    display: none;
    color: red;
    font-size: 1.2rem;
    text-shadow: 0 0 3px #000;
}
.app__text_big {
    font-size: 3rem;
}